---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer xxxxxxxxxxxxx
    url: https://api.twitch.tv/helix/games?name=Heroes+of+the+Storm
    method: GET
  response:
    body: '{"data":[{"id":"32959","name":"Heroes of the Storm","box_art_url":"https://static-cdn.jtvnw.net/ttv-boxart/Heroes%20of%20the%20Storm-{width}x{height}.jpg"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Front-End-Https:
      - "on"
      Ratelimit-Limit:
      - "120"
      Ratelimit-Remaining:
      - "114"
      Ratelimit-Reset:
      - "1512512070"
      Twitch-Trace-Id:
      - 3f88d6b960b2ae156796c4995d0bdc98
      X-Ctxlog-Logid:
      - 1-5a271a0b-5f37961c1b4e991a1431fab9
    status: 200 OK
    code: 200
