---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer xxxxxxxxxxxxx
    url: https://api.twitch.tv/helix/games?id=33214&name=Heroes+of+the+Storm
    method: GET
  response:
    body: '{"data":[{"id":"33214","name":"Fortnite","box_art_url":"https://static-cdn.jtvnw.net/ttv-boxart/Fortnite-{width}x{height}.jpg"},{"id":"32959","name":"Heroes
      of the Storm","box_art_url":"https://static-cdn.jtvnw.net/ttv-boxart/Heroes%20of%20the%20Storm-{width}x{height}.jpg"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Front-End-Https:
      - "on"
      Ratelimit-Limit:
      - "120"
      Ratelimit-Remaining:
      - "110"
      Ratelimit-Reset:
      - "1512512070"
      Twitch-Trace-Id:
      - acbb4a7b96ab69850a1682a2f64fe67c
      X-Ctxlog-Logid:
      - 1-5a271a0c-76de7a38782c89e85c962644
    status: 200 OK
    code: 200
