---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer xxxxxxxxxxxxx
    url: https://api.twitch.tv/helix/games?name=Fortnite&name=Heroes+of+the+Storm
    method: GET
  response:
    body: '{"data":[{"id":"32959","name":"Heroes of the Storm","box_art_url":"https://static-cdn.jtvnw.net/ttv-boxart/Heroes%20of%20the%20Storm-{width}x{height}.jpg"},{"id":"33214","name":"Fortnite","box_art_url":"https://static-cdn.jtvnw.net/ttv-boxart/Fortnite-{width}x{height}.jpg"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Front-End-Https:
      - "on"
      Ratelimit-Limit:
      - "120"
      Ratelimit-Remaining:
      - "112"
      Ratelimit-Reset:
      - "1512512070"
      Twitch-Trace-Id:
      - d0234b67756a06c82fd4dac9b8043577
      X-Ctxlog-Logid:
      - 1-5a271a0c-0327c6194dc3789e1fa7466f
    status: 200 OK
    code: 200
