---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer xxxxxxxxxxxxx
    url: https://api.twitch.tv/helix/games?name=Heroes+of+the+Storm
    method: GET
  response:
    body: '{"data":[{"id":"32959","name":"Heroes of the Storm","box_art_url":"https://static-cdn.jtvnw.net/ttv-boxart/Heroes%20of%20the%20Storm-{width}x{height}.jpg"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Front-End-Https:
      - "on"
      Ratelimit-Limit:
      - "120"
      Ratelimit-Remaining:
      - "115"
      Ratelimit-Reset:
      - "1510676460"
      Twitch-Trace-Id:
      - 41d5036953196c06bdf4005c7163221e
      X-Ctxlog-Logid:
      - 1-5a0b17b4-4acd71ca174d42b13e7aad5b
    status: 200 OK
    code: 200
