---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer xxxxxxxxxxxxx
    url: https://api.twitch.tv/helix/games?name=Heroes+of+the+Storm&name=Fortnite
    method: GET
  response:
    body: '{"data":[{"id":"33214","name":"Fortnite","box_art_url":"https://static-cdn.jtvnw.net/ttv-boxart/Fortnite-{width}x{height}.jpg"},{"id":"32959","name":"Heroes
      of the Storm","box_art_url":"https://static-cdn.jtvnw.net/ttv-boxart/Heroes%20of%20the%20Storm-{width}x{height}.jpg"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Front-End-Https:
      - "on"
      Ratelimit-Limit:
      - "120"
      Ratelimit-Remaining:
      - "114"
      Ratelimit-Reset:
      - "1510676460"
      Twitch-Trace-Id:
      - bdfb9d2cc40d05f93d685d1921426afb
      X-Ctxlog-Logid:
      - 1-5a0b17b4-1fe5e58700ad8cb818c2e4fa
    status: 200 OK
    code: 200
