---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer xxxxxxxxxxxxx
    url: https://api.twitch.tv/helix/games?id=32959&id=33214
    method: GET
  response:
    body: '{"data":[{"id":"32959","name":"Heroes of the Storm","box_art_url":"https://static-cdn.jtvnw.net/ttv-boxart/Heroes%20of%20the%20Storm-{width}x{height}.jpg"},{"id":"33214","name":"Fortnite","box_art_url":"https://static-cdn.jtvnw.net/ttv-boxart/Fortnite-{width}x{height}.jpg"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Front-End-Https:
      - "on"
      Ratelimit-Limit:
      - "120"
      Ratelimit-Remaining:
      - "111"
      Ratelimit-Reset:
      - "1512512070"
      Twitch-Trace-Id:
      - f9b471f3c0ff87aa9e17cb33f0e0be92
      X-Ctxlog-Logid:
      - 1-5a271a0c-0abe21da1f9eb3323c3d45ff
    status: 200 OK
    code: 200
