---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - OAuth xxxxxxxxxxxxx
    url: https://api.twitch.tv/kraken/users/173365798/follows/channels
    method: GET
  response:
    body: '{"_total":3,"follows":[{"created_at":"2017-09-13T14:52:28Z","channel":{"mature":false,"status":"12h
      stream + energy drinks","broadcaster_language":"en","display_name":"mewnfarez","game":"Heroes
      of the Storm","language":"en","_id":"41598188","name":"mewnfarez","created_at":"2013-03-22T19:56:52Z","updated_at":"2017-09-13T15:04:46Z","partner":true,"logo":"https://static-cdn.jtvnw.net/jtv_user_pictures/mewnfarez-profile_image-2af79e1168fdde0d-300x300.jpeg","video_banner":"https://static-cdn.jtvnw.net/jtv_user_pictures/mewnfarez-channel_offline_image-7d4587893b5f3863-1920x1080.png","profile_banner":"https://static-cdn.jtvnw.net/jtv_user_pictures/mewnfarez-profile_banner-6de5ce3b6e5ca873-480.png","profile_banner_background_color":"#5287a5","url":"https://www.twitch.tv/mewnfarez","views":4201082,"followers":56953,"broadcaster_type":"partner","description":"i
      like to play video games"},"notifications":false},{"created_at":"2017-09-13T14:52:19Z","channel":{"mature":false,"status":"Kendric
      - Working double time in the HL Diamond Mines! ","broadcaster_language":"en","display_name":"KendricSwissh","game":"Heroes
      of the Storm","language":"en","_id":"43664778","name":"kendricswissh","created_at":"2013-05-18T11:48:44Z","updated_at":"2017-09-13T15:04:52Z","partner":true,"logo":"https://static-cdn.jtvnw.net/jtv_user_pictures/kendricswissh-profile_image-1df8e7dd49fad698-300x300.jpeg","video[...]
