---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - OAuth xxxxxxxxxxxxx
    url: https://api.twitch.tv/kraken/user
    method: GET
  response:
    body: '{"display_name":"catsbygaming","_id":"173365798","name":"catsbygaming","type":"user","bio":null,"created_at":"2017-09-08T14:52:34.499541Z","updated_at":"2017-09-08T14:55:02.976866Z","logo":null,"email":"clint+catsbygaming@ctshryock.com","email_verified":true,"partnered":false,"twitter_connected":false,"notifications":{"push":true,"email":true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Front-End-Https:
      - "on"
      Twitch-Trace-Id:
      - cc740f2a97979273964cdcdd424b55e4
      X-Ctxlog-Logid:
      - 1-59b94cb4-75dae7bc1c0f3b7056649676
    status: 200 OK
    code: 200
