---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - OAuth xxxxxxxxxxxxx
    url: https://api.twitch.tv/kraken/users/41598188
    method: GET
  response:
    body: '{"display_name":"mewnfarez","_id":"41598188","name":"mewnfarez","type":"user","bio":"i
      like to play video games","created_at":"2013-03-22T19:56:52.277886Z","updated_at":"2017-09-13T03:34:02.621121Z","logo":"https://static-cdn.jtvnw.net/jtv_user_pictures/mewnfarez-profile_image-2af79e1168fdde0d-300x300.jpeg"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Front-End-Https:
      - "on"
      Twitch-Trace-Id:
      - 93526be775c5d46dd047d9a8c48b946f
      X-Ctxlog-Logid:
      - 1-59b8a863-7970ac6a6972a8ca7d15a7f3
    status: 200 OK
    code: 200
