---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - OAuth xxxxxxxxxxxxx
    url: https://api.twitch.tv/kraken/channels/43664778/follows
    method: GET
  response:
    body: '{"_total":27821,"_cursor":"1505138602792790000","follows":[{"created_at":"2017-09-13T02:33:56Z","notifications":false,"user":{"display_name":"UmuTarnoS","_id":"132470868","name":"umutarnos","type":"user","bio":null,"created_at":"2016-08-17T22:28:37.238008Z","updated_at":"2017-09-13T01:32:30.358328Z","logo":"https://static-cdn.jtvnw.net/jtv_user_pictures/umutarnos-profile_image-66f33ce988eb771d-300x300.png"}},{"created_at":"2017-09-12T22:50:32Z","notifications":false,"user":{"display_name":"wheelco","_id":"118373587","name":"wheelco","type":"user","bio":null,"created_at":"2016-03-10T23:21:44.911597Z","updated_at":"2017-08-24T23:02:09.044542Z","logo":null}},{"created_at":"2017-09-12T21:06:47Z","notifications":true,"user":{"display_name":"Virtue006","_id":"173964886","name":"virtue006","type":"user",[...]
