---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - OAuth xxxxxxxxxxxxx
    url: https://api.twitch.tv/kraken/channel
    method: GET
  response:
    body: '{"mature":false,"status":null,"broadcaster_language":null,"display_name":"catsbygaming","game":null,"language":"en","_id":"173365798","name":"catsbygaming","created_at":"2017-09-08T14:52:34Z","updated_at":"2017-09-08T14:55:02Z","partner":false,"logo":null,"video_banner":null,"profile_banner":null,"profile_banner_background_color":null,"url":"https://www.twitch.tv/catsbygaming","views":0,"followers":0,"broadcaster_type":"","description":"","stream_key":"live_173365798_2iYl5hGPi1Th88KG3PV9F6S7gmzzaP","email":"clint+catsbygaming@ctshryock.com"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Front-End-Https:
      - "on"
      Twitch-Trace-Id:
      - a01c9167b5a27c643bf0e6df9f1caef0
      X-Ctxlog-Logid:
      - 1-59b8a82c-7e4931667b0331464d9b0853
    status: 200 OK
    code: 200
