---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - OAuth xxxxxxxxxxxxx
    url: https://api.twitch.tv/kraken/streams/60967507
    method: GET
  response:
    body: '{"stream":{"_id":26244494208,"game":"Heroes of the Storm","broadcast_platform":"live","community_id":"","community_ids":[],"viewers":82,"video_height":1080,"average_fps":30.0187617261,"delay":0,"created_at":"2017-09-13T00:09:15Z","is_playlist":false,"stream_type":"live","preview":{"small":"https://static-cdn.jtvnw.net/previews-ttv/live_user_kiyeberries-80x45.jpg","medium":"https://static-cdn.jtvnw.net/previews-ttv/live_user_kiyeberries-320x180.jpg","large":"https://static-cdn.jtvnw.net/previews-ttv/live_user_kiyeberries-640x360.jpg","template":"https://static-cdn.jtvnw.net/previews-ttv/live_user_kiyeberries-{width}x{height}.jpg"},"channel":{"mature":false,"status":"Still
      Leveling x2 kiyePray || !smurf !subtember","broadcaster_language":"en","display_name":"Kiyeberries","game":"Heroes
      of the Storm","language":"en","_id":60967507,"name":"kiyeberries","created_at":"2014-04-16T01:55:28.582193Z","updated_at":"2017-09-13T03:34:10.823771Z","partner":false,"logo":"https://static-cdn.jtvnw.net/jtv_user_pictures/kiyeberries-profile_image-4bc5e332c9251df2-300x300.png","video_banner":"https://static-cdn.jtvnw.net/jtv_user_pictures/5567d99feae41edc-channel_offline_image-1920x1080.png","profile_banner":"https://static-cdn.jtvnw.net/jtv_user_pictures/kiyeberries-profile_banner-62ce19643949a462-480.png","profile_banner_background_color":"#110f11","url":"https://www.twitch.tv/kiyeberries","views":406575,"followers":14962,"broadcaster_type":"","description":"I
      make storms of heroes\ryoutube.com/u/kiyeberries \rTwitter @KiyeBerries  \rfacebook.com/kiyeberries7"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Front-End-Https:
      - "on"
      Twitch-Trace-Id:
      - 064ebf838d6f98ae314714a83551908a
      X-Ctxlog-Logid:
      - 1-59b8a863-2a3df02e5edb27c166370d05
    status: 200 OK
    code: 200
