---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - OAuth xxxxxxxxxxxxx
    url: https://api.twitch.tv/kraken/streams/featured
    method: GET
  response:
    body: "{\"featured\":[{\"image\":\"https://s.jtvnw.net/jtv_user_pictures/hosted_images/spofie_fp_080717\",\"priority\":5,\"scheduled\":true,\"sponsored\":false,\"text\":\"\\u003cp\\u003eSpofie
      is primarily a Final Fantasy 14 caster, with a focus on positivity and community.
      New players, perspective players, and veterans are all welcome to come hang
      out and ask any questions they may have.\\n\\u003cbr\\u003e\\n\\u003ca href=\\\"/spofie\\\"\\u003eClick
      here\\u003c/a\\u003e to watch and chat!\\u003c/p\\u003e\",\"title\":\"Spofie\",\"stream\":{\"_id\":26244812768,\"game\":\"FINAL
      FANTASY XIV Online\",\"broadcast_platform\":\"live\",\"community_id\":\"848d95be-90b3-44a5-b143-6e373754c382\",\"community_ids\":[\"848d95be-90b3-44a5-b143-6e373754c382\",\"e76295c8-1f8d-47a5-9384-c14abb19e303\",\"ff1e77af-551d-4993-945c-f8ceaa2a2829\"],\"viewers\":2392,\"video_height\":720,\"average_fps\":30,\"delay\":0,\"created_at\":\"2017-09-13T01:02:48Z\",\"is_playlist\":false,\"stream_type\":\"live\",\"preview\":{\"small\":\"https://static-cdn.jtvnw.net/previews-ttv/live_user_spofie-80x45.jpg\",\"medium\":\"https://static-cdn.jtvnw.net/previews-ttv/live_user_spofie-320x180.jpg\",\"large\":\"https://static-cdn.jtvnw.net/previews-ttv/live_user_spofie-640x360.jpg\",\"template\":\"https://static-cdn.jtvnw.net/previews-ttv/live_user_spofie-{width}x{height}.jpg\"},\"channel\":{\"mature\":false,\"status\":\"[Day
      127] Mentoring, helping with content, and more! New players and questions always
      welcome. (!subtember)\",\"broadcaster_language\":\"en\",\"display_name\":\"Spofie\",\"game\":\"FINAL
      FANTASY XIV Online\",\"language\":\"en\",\"_id\":26830215,\"name\":\"spofie\",\"created_at\":\"2011-12-17T01:11:14.490375Z\",\"updated_at\":\"2017-09-13T03:34:13.75341Z\",\"partner\":false,\"logo\":\"https://static-cdn.jtvnw.net/jtv_user_pictures/spofie-profile_image-56d328660a5e7b82-300x300.jpeg\",\"video_banner\":\"https://static-cdn.jtvnw.net/jtv_user_pictures/spofie-channel_offline_image-03045763ba59063c-1920x1080.png\",\"profile_banner\":\"https://static-cdn.jtvnw.net/jtv_user_pictures/spofie-profile_banner-442d5c0a45af139e-480.png\",\"profile_banner_background_color\":\"#871684\",\"url\":\"https://www.twitch.tv/spofie\",\"views\":1217687,\"followers\":26675,\"broadcaster_type\":\"\",\"description\":\"I
      stream Final Fantasy 14 every night! My community is all about positivity and
      just enjoying the wonderful worlds of MMOs.\"}}},{\"image\":\"http://s.jtvnw.net/jtv_user_pictures/hosted_images/simply_fpthumb_52015.png\",\"priority\":10,\"scheduled\":false,\"sponsored\":false,\"text\":\"\\u003cp\\u003eSimply
      has been speedrunning SM64 since August 2012. Ever since, he has been pushing
      to get the world record in the 120 star category; watch as he moves Mario in
      ways[...]
