---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - OAuth xxxxxxxxxxxxx
    url: https://api.twitch.tv/kraken/streams
    method: GET
  response:
    body: '{"_total":27042,"streams":[{"_id":26242735648,"game":"PLAYERUNKNOWN''S
      BATTLEGROUNDS","broadcast_platform":"live","community_id":"","community_ids":[],"viewers":29759,"video_height":900,"average_fps":60,"delay":0,"created_at":"2017-09-12T19:21:35Z","is_playlist":false,"stream_type":"live","preview":{"small":"https://static-cdn.jtvnw.net/previews-ttv/live_user_summit1g-80x45.jpg","medium":"https://static-cdn.jtvnw.net/previews-ttv/live_user_summit1g-320x180.jpg","large":"https://static-cdn.jtvnw.net/previews-ttv/live_user_summit1g-640x360.jpg","template":"https://static-cdn.jtvnw.net/previews-ttv/live_user_summit1g-{width}x{height}.jpg"},"channel":{"mature":true,"status":"Test
      server games - [ Follow @summit1g ]","broadcaster_language":"en","display_name":"summit1g","game":"PLAYERUNKNOWN''S
      BATTLEGROUNDS","language":"en","_id":26490481,"name":"summit1g","created_at":"2011-12-01T06:33:31.487567Z","updated_at":"2017-09-13T03:34:00.626206Z","partner":false,"logo":"https://static-cdn.jtvnw.net/jtv_user_pictures/summit1g-profile_image-87970af8826df799-300x300.png","video_banner":"https://static-cdn.jtvnw.net/jtv_user_pictures/summit1g-channel_offline_image-e2f9a1df9e695ec1-1920x1080.png","profile_banner":"https://static-cdn.jtvnw.net/jtv_user_pictures/summit1g-profile_banner-da83b29c4dede9e4-480.png","profile_banner_background_color":"","url":"https://www.twitch.tv/summit1g","views":168199472,"followers":2265437,"broadcaster_type":"","description":"I''m
      a competitive CounterStrike player who likes to play casually now and many other
      games. You will mostly see me play CS, H1Z1, and single player games at night.
      There will be many other games played on this stream in the future as they come
      out :D"}},{"_id":26244792048,"game":"Hearthstone","broadcast_platform":"live","community_id":"","community_ids":[],"viewers":12304,"video_height":720,"average_fps":31.1538461538,"delay":0,"created_at":"2017-09-13T00:59:47Z","is_pl[...]
