---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - OAuth xxxxxxxxxxxxx
    url: https://api.twitch.tv/kraken/streams/featured
    method: GET
  response:
    body: "{\"featured\":[{\"image\":\"https://s.jtvnw.net/jtv_user_pictures/hosted_images/rawrsquared_fp_091317\",\"priority\":5,\"scheduled\":true,\"sponsored\":false,\"text\":\"\\u003cp\\u003e\\u003ca
      href=\\\"/rawrsquared\\\"\\u003eRAWRsquared\\u003c/a\\u003e is a variety gaming
      and fitness streamer that loves cardio exercise almost as much as he loves video
      games. Join RAWRsquared on his fitness journey from one endurance race to the
      next. The next step on this journey is a video series and live training focused
      on preparing for, and running, a half marathon at TwitchCon.\\u003c/p\\u003e\",\"title\":\"TwitchCon
      Marathon Training\",\"stream\":{\"_id\":26247490560,\"game\":\"Dead by Daylight\",\"broadcast_platform\":\"live\",\"community_id\":\"79b648b2-6353-4eb9-b51b-6fab8a37bba8\",\"community_ids\":[\"79b648b2-6353-4eb9-b51b-6fab8a37bba8\",\"848d95be-90b3-44a5-b143-6e373754c382\",\"fd0eab99-832a-4d7e-8cc0-04d73deb2e54\"],\"viewers\":1325,\"video_height\":720,\"average_fps\":30,\"delay\":0,\"created_at\":\"2017-09-13T13:09:18Z\",\"is_playlist\":false,\"stream_type\":\"live\",\"preview\":{\"small\":\"https://static-cdn.jtvnw.net/previews-ttv/live_user_rawrsquared-80x45.jpg\",\"medium\":\"https://static-cdn.jtvnw.net/previews-ttv/live_user_rawrsquared-320x180.jpg\",\"large\":\"https://static-cdn.jtvnw.net/previews-ttv/live_user_rawrsquared-640x360.jpg\",\"template\":\"https://static-cdn.jtvnw.net/previews-ttv/live_user_rawrsquared-{width}x{height}.jpg\"},\"channel\":{\"mature\":false,\"status\":\"Twitch
      FRONT PAGE | Treadmill Workout + Dead By Daylight (Potato Killer \\u0026 Survivor)
      | 60 minutes of exercise! | !charity !sub !subtember\",\"broadcaster_language\":\"en\",\"display_name\":\"RAWRsquared\",\"game\":\"Dead
      by Daylight\",\"language\":\"en\",\"_id\":148472682,\"name\":\"rawrsquared\",\"created_at\":\"2017-02-22T22:31:15.703201Z\",\"updated_at\":\"2017-09-13T15:05:09.572359Z\",\"partner\":false,\"logo\":\"https://static-cdn.jtvnw.net/jtv_user_pictures/rawrsquared-profile_image-abb08898fd2cb66e-300x300.png\",\"video_banner\":\"https://static-cdn.jtvnw.net/jtv_user_pictures/rawrsquared-channel_offline_image-6e2e47d7583387cd-1920x1080.png\",\"profile_banner\":\"https://static-cdn.jtvnw.net/jtv_user_pictures/rawrsquared-profile_banner-d70bf5ee96ac74bc-480.png\",\"profile_banner_background_color\":\"\",\"url\":\"https://www.twitch.tv/rawrsquared\",\"views\":58597,\"followers\":247,\"broadcaster_type\":\"\",\"description\":\"Running
      - Aerobics - Walking - Riding\"}}},{\"image\":\"https://s.jtvnw.net/jtv_user_pictures/hosted_images/Alliestrasza_fp_Oktoberbrawl\",\"priority\":5,\"scheduled\":true,\"sponsored\":false,\"text\":\"\\u003cp\\u003e\\u003ca
      href=\\\"/Alliestrasza\\\"\\u003eJoin\\u003c/a\\u003e some of Hearthstone’s
      rowdiest rumblers as they vie to see who will come out tops in OKTOBERBRAWL!
      Watch now to find out how your team is doing.\\n\\u003cbr\\u003e \\n\\u003ca
      href=\\\"h[...]
