---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - OAuth xxxxxxxxxxxxx
    url: https://api.twitch.tv/kraken/channels/43664778/follows
    method: GET
  response:
    body: '{"_total":27863,"_cursor":"1505307395937715000","follows":[{"created_at":"2017-09-13T15:16:25Z","notifications":true,"user":{"display_name":"Olsonika","_id":"173911135","name":"olsonika","type":"user","bio":"Just
      watching xx","created_at":"2017-09-12T13:59:20.131883Z","updated_at":"2017-09-12T17:32:12.225094Z","logo":"https://static-cdn.jtvnw.net/jtv_user_pictures/930a092ccd062070-profile_image-300x300.jpeg"}},{"created_at":"2017-09-13T15:11:53Z","notifications":false,"user":{"display_name":"ukolabrother","_id":"28324677","name":"ukolabrother","type":"user","bio":null,"created_at":"2012-02-18T19:15:42.837503Z","updated_at":"2017-08-21T13:00:21.700081Z","logo":null}},{"created_at":"2017-09-13T15:10:21Z","notifications":true,"user":{"display_name":"TTFU_ZEDZ","_id":"84334251","name":"ttfu_zedz","type":"user","[...]
