---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - OAuth xxxxxxxxxxxxx
    url: https://api.twitch.tv/kraken/channels/8822
    method: GET
  response:
    body: '{"mature":false,"status":"Blizzard at gamescom","broadcaster_language":"en","display_name":"Blizzard","game":"Gamescom
      2017","language":"en","_id":"8822","name":"blizzard","created_at":"2007-05-22T10:39:13Z","updated_at":"2017-09-13T15:05:00Z","partner":true,"logo":"https://static-cdn.jtvnw.net/jtv_user_pictures/blizzard-profile_image-ede74b5c45a43edc-300x300.jpeg","video_banner":"https://static-cdn.jtvnw.net/jtv_user_pictures/c915c5317146da24-channel_offline_image-1920x1080.jpeg","profile_banner":"https://static-cdn.jtvnw.net/jtv_user_pictures/6d01e993b3baff1f-profile_banner-480.jpeg","profile_banner_background_color":"#01142f","url":"https://www.twitch.tv/blizzard","views":8802420,"followers":239225,"broadcaster_type":"0cpm","description":"Dedicated
      to creating the most epic entertainment experiences... ever."}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Front-End-Https:
      - "on"
      Twitch-Trace-Id:
      - 63438035cd259b9f92329024346a1d4f
      X-Ctxlog-Logid:
      - 1-59b94cb5-6aeac8230b2a2ab44faaf8e3
    status: 200 OK
    code: 200
