---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - OAuth xxxxxxxxxxxxx
    url: https://api.twitch.tv/kraken/ingests
    method: GET
  response:
    body: '{"ingests":[{"_id":1,"url_template":"rtmp://live-dfw.twitch.tv/app/{stream_key}","availability":1.0,"name":"US
      Central: Dallas, TX","default":false},{"_id":2,"url_template":"rtmp://live-sin.twitch.tv/app/{stream_key}","availability":1.0,"name":"Asia:
      Singapore","default":false},{"_id":3,"url_template":"rtmp://live-eze.twitch.tv/app/{stream_key}","availability":1.0,"name":"South
      America: Argentina","default":false},{"_id":4,"url_template":"rtmp://live-qro.twitch.tv/app/{stream_key}","availability":1.0,"name":"NA:
      Mexico City","default":false},{"_id":5,"url_template":"rtmp://live-tpe.twitch.tv/app/{stream_key}","availability":1.0,"name":"Asia:
      Taipei, Taiwan","default":false},{"_id":6,"url_template":"rtmp://live-sjc.twitch.tv/app/{stream_key}","availability":1.0,"name":"US
      West: San Jose,CA","default":false},{"_id":7,"url_template":"rtmp://live-lim.twitch.tv/app/{stream_key}","availability":1.0,"name":"South
      America: Lima, Peru","default":false},{"_id":8,"url_template":"rtmp://live-arn.twitch.tv/app/{stream_key}","availability":1.0,"name":"EU:
      Stockholm, Sweden","default":false},{"_id":9,"url_template":"rtmp://live-sea.twitch.tv/app/{stream_key}","availability":1.0,"name":"US
      West: Seattle,WA","default":false},{"_id":10,"url_template":"rtmp://live-ymq.twitch.tv/app/{stream_key}","availability":1.0,"name":"NA:
      Quebec, Canada","default":false},{"_id":11,"url_template":"rtmp://live-mia.twitch.tv/app/{stream_key}","availability":1.0,"name":"US
      East: Miami, FL","default":false},{"_id":12,"url_template":"rtmp://live-sao.twitch.tv/app/{stream_key}","availability":1.0,"name":"South
      America: Sao Paulo, Brazil","default":false},{"_id":13,"url_template":"rtmp://live-lax.twitch.tv/app/{stream_key}","availability":1.0,"name":"US
      West: Los Angeles, CA","default":false},{"_id":14,"url_template":"rtmp://live-hkg.twitch.tv/app/{stream_key}","availability":1.0,"name":"Asia:
      Hong Kong","default":false},{"_id":15,"url_template":"rtmp://l[...]
