---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - OAuth xxxxxxxxxxxxx
    url: https://api.twitch.tv/kraken/users/41598188
    method: GET
  response:
    body: '{"display_name":"mewnfarez","_id":"41598188","name":"mewnfarez","type":"user","bio":"i
      like to play video games","created_at":"2013-03-22T19:56:52.277886Z","updated_at":"2017-09-13T15:04:46.363522Z","logo":"https://static-cdn.jtvnw.net/jtv_user_pictures/mewnfarez-profile_image-2af79e1168fdde0d-300x300.jpeg"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Front-End-Https:
      - "on"
      Twitch-Trace-Id:
      - 5857d83dc9d7654a1d955028d6e262c5
      X-Ctxlog-Logid:
      - 1-59b94cb4-34c3b59c1e9c0d16117f72cb
    status: 200 OK
    code: 200
