---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - OAuth xxxxxxxxxxxxx
    url: https://api.twitch.tv/kraken/clips/top?game=Heroes+of+the+Storm&limit=3&trending=true
    method: GET
  response:
    body: '{"clips":[{"slug":"WittyEnchantingKiwiAMPTropPunch","tracking_id":"131991077","url":"https://clips.twitch.tv/WittyEnchantingKiwiAMPTropPunch?tt_medium=clips_api\u0026tt_content=url","embed_url":"https://clips.twitch.tv/embed?clip=WittyEnchantingKiwiAMPTropPunch\u0026tt_medium=clips_api\u0026tt_content=embed","embed_html":"\u003ciframe
      src=''https://clips.twitch.tv/embed?clip=WittyEnchantingKiwiAMPTropPunch\u0026tt_medium=clips_api\u0026tt_content=embed''
      width=''640'' height=''360'' frameborder=''0'' scrolling=''no'' allowfullscreen=''true''\u003e\u003c/iframe\u003e","broadcaster":{"id":"41598188","name":"mewnfarez","display_name":"mewnfarez","channel_url":"https://www.twitch.tv/mewnfarez","logo":"https://static-cdn.jtvnw.net/jtv_user_pictures/mewnfarez-profile_image-2af79e1168fdde0d-150x150.jpeg"},"curator":{"id":"125973226","name":"skymangoat","display_name":"SkymanGOAT","channel_url":"https://www.twitch.tv/skymangoat","logo":"https://static-cdn.jtvnw.net/jtv_user_pictures/skymangoat-profile_image-6c48e33242db330c-150x150.png"},"vod":{"id":"177883723","url":"https://www.twitch.tv/videos/177883723?t=2h26m38s","offset":8798},"broadcast_id":"26351743360","game":"Heroes
      of the Storm","language":"en","title":"Famous last words: “I can stall this
      forever” -Mewnfarez","views":17546,"duration":27.999667,"created_at":"2017-09-27T17:39:12Z","thumbnails":{"medium":"https://clips-media-assets.twitch.tv/26351743360-offset-8822-preview-480x272.jpg","small":"https://clips-media-assets.twitch.tv/26351743360-offset-8822-preview-260x147.jpg","tiny":"https://clips-media-assets.twitch.tv/26351743360-offset-8822-preview-86x45.jpg"}},{"slug":"BoxyCoyPterodactylTheTarFu","tracking_id":"132072774","url":"https://clips.twitch.tv/BoxyCoyPterodactylTheTarFu?tt_medium=clips_api\u0026tt_content=url","embed_url":"https://clips.twitch.tv/embed?clip=BoxyCoyPterodactylTheTarFu\u0026tt_medium=clips_api\u0026tt_content=embed","embed_html":"\u003ciframe
      src=''https://clips.twitch.tv/embed?clip=BoxyCoyPterodactylTheTarFu\u0026tt_medium=clips_api\u0026t[...]
