---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - OAuth xxxxxxxxxxxxx
    url: https://api.twitch.tv/kraken/clips/top?game=Heroes+of+the+Storm&limit=20&trending=false
    method: GET
  response:
    body: '{"clips":[{"slug":"YummyLovelyLegPunchTrees","tracking_id":"130775601","url":"https://clips.twitch.tv/YummyLovelyLegPunchTrees?tt_medium=clips_api\u0026tt_content=url","embed_url":"https://clips.twitch.tv/embed?clip=YummyLovelyLegPunchTrees\u0026tt_medium=clips_api\u0026tt_content=embed","embed_html":"\u003ciframe
      src=''https://clips.twitch.tv/embed?clip=YummyLovelyLegPunchTrees\u0026tt_medium=clips_api\u0026tt_content=embed''
      width=''640'' height=''360'' frameborder=''0'' scrolling=''no'' allowfullscreen=''true''\u003e\u003c/iframe\u003e","broadcaster":{"id":"135618702","name":"oreo4679","display_name":"리치1","channel_url":"https://www.twitch.tv/oreo4679","logo":"https://static-cdn.jtvnw.net/jtv_user_pictures/oreo4679-profile_image-dfc5f163e8720b96-150x150.jpeg"},"curator":{"id":"45267668","name":"russdt","display_name":"RussDT","channel_url":"https://www.twitch.tv/russdt","logo":null},"vod":{"id":"177153023","url":"https://www.twitch.tv/videos/177153023?t=59m14s","offset":3554},"broadcast_id":"26329679632","game":"Heroes
      of the Storm","language":"ko","title":"MVP Rich clean level 20 zeratul green
      build engage","views":24686,"duration":29,"created_at":"2017-09-24T13:23:31Z","thumbnails":{"medium":"https://clips-media-assets.twitch.tv/26329679632-offset-3554.4166666666665-29-preview-480x272.jpg","small":"https://clips-media-assets.twitch.tv/26329679632-offset-3554.4166666666665-29-preview-260x147.jpg","tiny":"https://clips-media-assets.twitch.tv/26329679632-offset-3554.4166666666665-29-preview-86x45.jpg"}},{"slug":"WittyEnchantingKiwiAMPTropPunch","tracking_id":"131991077","url":"https://clips.twitch.tv/WittyEnchantingKiwiAMPTropPunch?tt_medium=clips_api\u0026tt_content=url","embed_url":"https://clips.twitch.tv/embed?clip=WittyEnchantingKiwiAMPTropPunch\u0026tt_medium=clips_api\u0026tt_content=embed","embed_html":"\u003ciframe
      src=''https://clips.twitch.tv/embed?clip=WittyEnchantingKiwiAMPTrop[...]
