---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - OAuth xxxxxxxxxxxxx
    url: https://api.twitch.tv/kraken/clips/LitigiousHeadstrongElkTooSpicy
    method: GET
  response:
    body: '{"slug":"LitigiousHeadstrongElkTooSpicy","tracking_id":"120388239","url":"https://clips.twitch.tv/LitigiousHeadstrongElkTooSpicy?tt_medium=clips_api\u0026tt_content=url","embed_url":"https://clips.twitch.tv/embed?clip=LitigiousHeadstrongElkTooSpicy\u0026tt_medium=clips_api\u0026tt_content=embed","embed_html":"\u003ciframe
      src=''https://clips.twitch.tv/embed?clip=LitigiousHeadstrongElkTooSpicy\u0026tt_medium=clips_api\u0026tt_content=embed''
      width=''640'' height=''360'' frameborder=''0'' scrolling=''no'' allowfullscreen=''true''\u003e\u003c/iframe\u003e","broadcaster":{"id":"41598188","name":"mewnfarez","display_name":"mewnfarez","channel_url":"https://www.twitch.tv/mewnfarez","logo":"https://static-cdn.jtvnw.net/jtv_user_pictures/mewnfarez-profile_image-2af79e1168fdde0d-150x150.jpeg"},"curator":{"id":"70841157","name":"smrtangel3702","display_name":"smrtangel3702","channel_url":"https://www.twitch.tv/smrtangel3702","logo":"https://static-cdn.jtvnw.net/jtv_user_pictures/smrtangel3702-profile_image-8f1142c34047d36c-150x150.jpeg"},"vod":{"id":"170437016","url":"https://www.twitch.tv/videos/170437016?t=7h10m33s","offset":25833},"broadcast_id":"26123917520","game":"Heroes
      of the Storm","language":"en","title":"Bug-Abusing streamers bully a poor PTR
      player","views":24109,"duration":46.333984,"created_at":"2017-08-28T20:46:50Z","thumbnails":{"medium":"https://clips-media-assets.twitch.tv/26123917520-offset-25833.5-46.333333333333364-preview-480x272.jpg","small":"https://clips-media-assets.twitch.tv/26123917520-offset-25833.5-46.333333333333364-preview-260x147.jpg","tiny":"https://clips-media-assets.twitch.tv/26123917520-offset-25833.5-46.333333333333364-preview-86x45.jpg"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Front-End-Https:
      - "on"
      Twitch-Trace-Id:
      - 96bd47d0f5094bfa950f06ea46d6039c
      X-Ctxlog-Logid:
      - 1-59b8a864-15879320242cca596db2e467
    status: 200 OK
    code: 200
