---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - OAuth xxxxxxxxxxxxx
    url: https://api.twitch.tv/kraken/streams
    method: GET
  response:
    body: '{"_total":22940,"streams":[{"_id":26246900704,"game":"Destiny 2","broadcast_platform":"live","community_id":"259996c9-8541-494d-80b1-7f5cc1428f26","community_ids":["259996c9-8541-494d-80b1-7f5cc1428f26","312e1001-6070-4d97-8d06-d17d0da6dad4","c1860172-4d14-41a1-b483-09d013d1fdab"],"viewers":23459,"video_height":900,"average_fps":60,"delay":0,"created_at":"2017-09-13T10:31:45Z","is_playlist":false,"stream_type":"live","preview":{"small":"https://static-cdn.jtvnw.net/previews-ttv/live_user_kinggothalion-80x45.jpg","medium":"https://static-cdn.jtvnw.net/previews-ttv/live_user_kinggothalion-320x180.jpg","large":"https://static-cdn.jtvnw.net/previews-ttv/live_user_kinggothalion-640x360.jpg","template":"https://static-cdn.jtvnw.net/previews-ttv/live_user_kinggothalion-{width}x{height}.jpg"},"channel":{"mature":true,"status":"RAID.
      DAY. ","broadcaster_language":"en","display_name":"KingGothalion","game":"Destiny
      2","language":"en","_id":43830727,"name":"kinggothalion","created_at":"2013-05-22T12:28:46.194204Z","updated_at":"2017-09-13T15:04:49.637368Z","partner":false,"logo":"https://static-cdn.jtvnw.net/jtv_user_pictures/kinggothalion-profile_image-ba4da459f4fd440f-300x300.png","video_banner":"https://static-cdn.jtvnw.net/jtv_user_pictures/kinggothalion-channel_offline_image-359f51cffe3797cb-1920x1080.png","profile_banner":"https://static-cdn.jtvnw.net/jtv_user_pictures/kinggothalion-profile_banner-f3c658e2b3d2ddae-480.png","profile_banner_background_color":"","url":"https://www.twitch.tv/kinggothalion","views":21384644,"followers":755390,"broadcaster_type":"","description":"Following
      the channel is the free-est form of following the channel."}},{"_id":26247152560,"game":"Hearthstone","broadcast_platform":"live","community_id":"","community_ids":[],"viewers":20970,"video_height":1080,"average_fps":60,"delay":0,"created_at":"2017-09-13T11:48:57Z","is_playlist":false,"stream_type":"live","preview":{"small":"https://static-cdn.jtvnw.net/previews-ttv/live_user_silvername-80x45.jpg","medium":"https://static-cdn.jtvnw.net/previews-ttv/live_user_silvername-320x180.j[...]
