---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - OAuth xxxxxxxxxxxxx
    url: https://api.twitch.tv/kraken/channels/43664778/videos
    method: GET
  response:
    body: '{"_total":110,"videos":[{"title":"[EN] HGC China - Week 4 Day 3 - casted
      by Kendric \u0026 Tetcher","description":null,"description_html":null,"broadcast_id":26298596208,"broadcast_type":"archive","status":"recorded","tag_list":"","views":98,"url":"https://www.twitch.tv/videos/176128606","language":"en","created_at":"2017-09-20T08:35:12Z","viewable":"public","viewable_at":null,"published_at":"2017-09-20T08:35:12Z","_id":"v176128606","recorded_at":"2017-09-20T08:35:12Z","game":"Heroes
      of the Storm","length":22884,"preview":{"small":"https://static-cdn.jtvnw.net/s3_vods/a5cf8b212333839086e5_kendricswissh_26298596208_712332454/thumb/thumb0-80x45.jpg","medium":"https://static-cdn.jtvnw.net/s3_vods/a5cf8b212333839086e5_kendricswissh_26298596208_712332454/thumb/thumb0-320x180.jpg","large":"https://static-cdn.jtvnw.net/s3_vods/a5cf8b212333839086e5_kendricswissh_26298596208_712332454/thumb/thumb0-640x360.jpg","template":"https://static-cdn.jtvnw.net/s3_vods/a5cf8b212333839086e5_kendricswissh_26298596208_712332454/thumb/thumb0-{width}x{height}.jpg"},"animated_preview_url":"https://vod-storyboards.twitch.tv/a5cf8b212333839086e5_kendricswissh_26298596208_712332454/storyboards/176128606-strip-0.jpg","thumbnails":{"small":[{"type":"generated","url":"https://static-cdn.jtvnw.net/s3_vods/a5cf8b212333839086e5_kendricswissh_26298596208_712332454/thumb/thumb0-80x45.jpg"},{"type":"generated","url":"https://static-cdn.jtvnw.net/s3_vods/a5cf8b212333839086e5_kendricswissh_26298596208_712332454/thumb/thumb1-80x45.jpg"},{"type":"generated","url":"https://static-cdn.jtvnw.net/s3_vods/a5cf8b212333839086e5_kendricswissh_26298596208_712332454/thumb/thumb2-80x45.jpg"},{"type":"generated","url":"https://static-cdn.jtvnw.net/s3_vods/a5cf8b[...]
